# Data files (large CSVs)
transactions.csv
identity.csv
closed_cases_history.csv

# Environment and secrets
.env

# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
env/
venv/
.venv/

# Local Netlify folder
.netlify
